<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->


<html>
    <head>
        <title>  Rango  </title>
        <!-- CSS INFO -->
        <link rel="stylesheet" href="{% static "css/base.css" %}" /> 
        
        <!-- JAVASCRIPT INFO -->
        <script src="{% static "js/jquery.js" %}"></script>

    </head>

    <body>
        <h1>Rango Says...</h1>
        <div>
            hey there! <br/>
        </div>

        <div>
            {% if categories %}
            <ul>
                {% for category in categories %}
                    <li>
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
            
            {% else %}
                <strong> There are no categories present. </strong>

            {% endif%}
        </div>

        <div>
            <a href = "/rango/about/"> About </a> <br />
            <img src = "{% static "images/frank_junk.jpg" %}"
            alt="Picture of Frank Reynolds"/>
        </div>
    </body>
</html>
